# Load YOLO Classification Result to PostgreSQL database

### Adding project path to system path

In [1]:
import pandas as pd
import os
notebook_dir = os.getcwd()
parent_path=os.path.dirname(notebook_dir)

os.chdir(parent_path)

### Import modules

In [2]:
from script.YOLO_classification import Classification
loader=Classification()

### Load data to dataframe

In [3]:
classification_result=pd.read_csv("data/classification_result.csv")
classification_result.head()

                     image_name product_category
0  @lobelia4cosmetics_11388.jpg        Cosmetics
1  @lobelia4cosmetics_11389.jpg        Cosmetics
2  @lobelia4cosmetics_11390.jpg        Cosmetics
3  @lobelia4cosmetics_11391.jpg        Cosmetics
4  @lobelia4cosmetics_11392.jpg        Cosmetics

## Load dataframe to postgres table

In [4]:
loader.add_dataframe_to_table(classification_result,"product_classification")

DataFrame successfully added to table 'product_classification' in the database.
SQLAlchemy engine is disposed.

In [1]:
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os


# Load environment variables from .env file
load_dotenv()

# Fetch credentials from .env file
db_host = os.getenv('DB_HOST')
db_port = os.getenv('DB_PORT')
db_name = os.getenv('DB_NAME')
db_user = os.getenv('DB_USER')
db_password = os.getenv('DB_PASSWORD')

def add_dataframe_to_table(df, table_name, if_exists='replace'):
    print(db_host, db_port, db_name, db_user, db_password)
    try:
        # Create SQLAlchemy engine for database connection
        engine = create_engine(f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

        # Use pandas to_sql to add DataFrame to the database
        df.to_sql(table_name, engine, index=False, if_exists=if_exists)

        print(f"DataFrame successfully added to table '{table_name}' in the database.")

    except Exception as error:
        print("Error while inserting DataFrame to PostgreSQL", error)

    finally:
        if engine:
            engine.dispose()
            print("SQLAlchemy engine is disposed.")

add_dataframe_to_table(classification_result,"product_classification")

NameError: name 'classification_result' is not defined

In [1]:
import os
import pandas
from sqlalchemy import create_engine
from dotenv import load_dotenv
import pandas as pd

# Load environment variables from .env file
load_dotenv()

# Fetch credentials from .env file
db_host = os.getenv('DB_HOST')
db_port = os.getenv('DB_PORT')
db_name = os.getenv('DB_NAME')
db_user = os.getenv('DB_USER')
db_password = os.getenv('DB_PASSWORD')

def add_dataframe_to_table(df, table_name, if_exists='replace'):
    try:
        # Create SQLAlchemy engine for database connection
        engine = create_engine(f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

        # Add DataFrame to database table
        df.to_sql(table_name, engine, index=False, if_exists=if_exists, method='multi')
        print(f"DataFrame successfully added to table '{table_name}' in the database.")

    except Exception as error:
        print("Error while inserting DataFrame to PostgreSQL:", error)

    finally:
        try:
            if engine:
                engine.dispose()
                print("SQLAlchemy engine is disposed.")
        except Exception as e:
            print("Error disposing the engine:", e)

# Example DataFrame
data = {
    "id": [1, 2, 3],
    "product_name": ["Aspirin", "Paracetamol", "Ibuprofen"],
    "category": ["Pain Relief", "Pain Relief", "Anti-Inflammatory"]
}
classification_result = pd.DataFrame(data)

# Add the DataFrame to PostgreSQL
add_dataframe_to_table(classification_result, "product_classification")

DataFrame successfully added to table 'product_classification' in the database.
SQLAlchemy engine is disposed.